* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #1F1F3D;
  display: flex;
  height: 75px;
  justify-content: space-between;
  width: 100%;
  }

button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h1 {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 2.315pc;
  margin-left: 1.5%;
  margin-top: 1.5%;
  text-transform: uppercase;
  }

span {
  color: #FFC30C;
}

input {
  height: 40px;
  border: 2px solid #1F1F3D;
  border-radius: 2%;
}

main {
  display: flex;
}

aside {
  background: #587A8A;
  min-width: 275px;
  width: 30%;
  border-right: 2px solid #3C6577;
  padding-left: 10px;
  }

aside form {
  width: 95%;
  display: flex;
  flex-direction: column;
  }

aside button {
  height: 40px;
  border: none;
  border-radius: 2%;
  background-color: #1F1F3D;
  color: #FFFFFF;
  font-size: 1.2pc;
}

label {
  color: #F3F6F7;
  font-size: 1pc;
  margin-bottom: 7px;
  font-weight: 400;
}

article {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  background-color: #FAFDFF;
  border-left: 2px solid #C7C3D8;
  border-right: 2px solid #C7C3D8;
  margin-bottom: 30px;
  break-inside: avoid;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  border-top: 2px solid #C7C3D8;
  border-bottom: 2px solid #C7C3D8;
  height: 50px;
}
 
h2 {
  border-bottom: 2px solid #C7C3D8;
  border-top: 2px solid #C7C3D8;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-weight: 800;
}

li {
  display: flex;
  align-items: center;
}

div img {
  margin-bottom: 1%;
}

p {
  font-size: 10px;
}

footer img {
  height: 25px;
}

ul {
  display: flex;
  flex-direction: column;
}

.search-form {
  margin-top: 1.5%;
  margin-right: 1.5%;
  display: flex;
  padding-bottom: 0.87%;
  width: 30%;
}

.search-button {
  border: none;
  width: 10%;
  min-width: 40px;
  height: 40px;
  background-color: #C7C3D8;
  border-radius: 9% 0% 0% 9%;
}

.search-input {
  border: none;
  width: 90%;
  border-radius: 0% 2% 2% 0%;
}

.input-section {
  border-bottom: 2px solid #3C6577;
  display: flex;
  flex-direction: column;
  min-height: 20em;
  justify-content: space-around;
}

.title-form {
  margin-bottom: 10px;
  margin-top: 20px;
}

.item-input-container {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.item-input {
  width: 89%;
  border: 2px solid #1F1F3D;
  border-right: none;
  border-radius: 2% 0% 0% 2%;
}

.plus-button {
  width: 12%;
  height: 40px;
  border: none;
  border-radius: 0% 10% 10% 0%;
  font-weight: 700;

}

.plus-button:disabled {
  background-color: #C7C3D8;
  border: 2px solid #1F1F3D;
}


.button-form {
  margin-bottom: 10px;
}

.make-button:disabled {
  background-color: #C7C3D8;
  border: 2px solid #1F1F3D;
}

.clear-button {
  margin-top: 3%;
}

.clear-button:disabled {
  background-color: #C7C3D8;
  border: 2px solid #1F1F3D;
}

.filter-section {
  display: flex;
  min-height: 25em;
  width: 100%;
}

.filter-button {
  margin-top: 3%;
  width: 95%;
}

.card-section {
  width: 70%;
  padding: 1.5em;
  columns: 2 250px;
  column-gap: 30px;
  height: auto;
  background-color: #F3F6F7;
}

.no-task {
    color: #3C6577;
    font-size: 4em;
    font-weight: 800;
    text-align: center;
    break-inside: avoid;
}

/*---------Tentative items-------------*/

.tentative-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.delete-task {
  height: 25px;
  margin-right: 5px;
}

/*-----------Task Cards----------*/
.on-card-tasks {
  min-height: 161px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unchecked {
  height: 20px;
  margin: 15px 5px 15px 5px;
}

/*-----------Urgent Card-----------*/

.urgent {
  background-color: #FFE89D;
  border-left: 2px solid #FFC30C;
  border-right: 2px solid #FFC30C;
}

.urgent footer {
  border-top: 2px solid #FFC30C;
  border-bottom: 2px solid #FFC30C;
}

.urgent h2 {
  border-bottom: 2px solid #FFC30C;
  border-top: 2px solid #FFC30C;
}

.urgent img.urgent-card {
  content: url('images/urgent-active.svg');
} 



/*--------Check List-------*/

.checked img.unchecked {
  content: url('images/checkbox-active.svg');
}

.checked {
  color: #3C6577;
  font-style: italic;
}

/*-----------Filter Urgent--------*/

.active {
  background-color: #EF4A23;
  border:2px solid #782616;
  color: #FFFFFF;
}

/*-----------Media Queries--------*/
@media screen and (max-width: 675px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
  }

  h1 {
    font-size: 50px;
  }

  .search-form {
    width: 85%;
  }

  .search-button {
    padding-top: 5px;
  }

  .search-img {
    width: 30px;
  }

  .search-input {
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 550px) {
  h1 {
    margin-top: 15px;
    font-size: 30px;
  }
  main {
  flex-direction: column;
  }

  aside {
  width: 100%;
  height: 425px;
  }

  .card-section {
    width: 100%;
    min-height: 300px;
  }

  .no-task {
    font-size: 2em;
  }

}
